/*Nav Bar*/
.navBoxShell {
    width:auto;
    border: 5px solid black;
    height: 200px;
    background-color: lightgrey;
    }
.navBoxTop {
font-family: cursive;
font-weight: bold;
font-style: italic;
background-color: lightgrey;
    }
.navBoxBottom {
    width:auto;
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
.pic {
    border-radius: 10px;
    border: 2px solid darkgray;
    width: 175px;
    height: 175px;
    margin-bottom: 20px;
    }

/*displayAll*/
.container {
    width: auto;
    height: auto;
    font-family: cursive;
    background-color: lightgray;
    color: black;
    border-left: 20px solid black;
    border-right: 20px solid black;
}

.details {
    width: 500px;
    height: 300px;
    margin-left: 375px;
    background-color: gray;
    color: black;
    border: 3px solid black;
    box-shadow: 10px black;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}